*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width : 100%;
    font-size : 62.5%;
    scroll-behavior: smooth;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE */
    -moz-user-select: none; /* FireFox */
    user-select: none;
}
body{
    width : 100%;
    font-family : Vazir;
    font-size : 1.4rem;
    color: rgb(33, 37, 41);
    background-color: var(--primary-color);
    direction : rtl;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style-type : none;    
}
input,
button{
    font-size : 1.4rem;
    font-family : Vazir;
    border : none;
    outline : none;
    background-color: transparent;
}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media only screen and (max-width:576px){
    body{
        background-color: var(--white-color);
    }
}